.Body--custom-height-weight{
    height:100vh;
    background-color:black;
   }
  .Header-custom-height{
    height:25%;
  }
  .Content--custom-height{
    height:50%;
  }
  .Footer--custom-height{
    height: 25%;
   
  }
 .Bg--color-custom{
 background-color: black;
 }
 a{      
  border-bottom:3px solid #000000;
}
a:hover{
border-bottom: 5px solid white;
}

